div.overflowscroll {
    width: 300px;
    height: 400px;
    overflow: scroll;
}
div.overflowauto {
    width: 300px;
    height: 300px;
    overflow: auto;
}
div.overflowhidden {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
div.overflowvisible {
    width: 300px;
    height: 300px;
    overflow: visible;
}
div.overflowinherit {
    width: 300px;
    height: 300px;
    overflow: inherit;
}
.navegacion {
    display: flex;
    justify-content: space-between;
    border: solid red;
    list-style: none;
    position: fixed;
    width: 100%;
}
.foot {
    position: sticky;
}
